@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fvd1op');
	src:url('../fonts/icomoon.eot?#iefixfvd1op') format('embedded-opentype'),
		url('../fonts/icomoon.woff?fvd1op') format('woff'),
		url('../fonts/icomoon.ttf?fvd1op') format('truetype'),
		url('../fonts/icomoon.svg?fvd1op#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}

.icon-heart:before {
	content: "\f004";
}

.icon-home:before {
	content: "\f015";
}

.icon-pencil:before {
	content: "\f040";
}

.icon-exclamation-triangle:before {
	content: "\f071";
}

.icon-calendar:before {
	content: "\f073";
}

.icon-key:before {
	content: "\f084";
}

.icon-cogs:before {
	content: "\f085";
}

.icon-heart-o:before {
	content: "\f08a";
}

.icon-floppy-o:before {
	content: "\f0c7";
}

.icon-table:before {
	content: "\f0ce";
}

.icon-comment-o:before {
	content: "\f0e5";
}

.icon-building-o:before {
	content: "\f0f7";
}

.icon-fighter-jet:before {
	content: "\f0fb";
}

.icon-smile-o:before {
	content: "\f118";
}

.icon-question:before {
	content: "\f128";
}

.icon-info:before {
	content: "\f129";
}

.icon-exclamation:before {
	content: "\f12a";
}

.icon-database:before {
	content: "\f1c0";
}

.icon-file-excel-o:before {
	content: "\f1c3";
}

.icon-paper-plane-o:before {
	content: "\f1d9";
}

.icon-calculator:before {
	content: "\f1ec";
}

.icon-birthday-cake2:before {
	content: "\e600";
}

