@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body
{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: #ECEFF1;
}

.form-login
{
	margin: 1em;
	background-color: white;
	padding: 1em;
	position: relative;
	border-width: 1px 1px 2px;
	border-color: #cfd9db #cfd9db #c0cdd1;
	border-radius: 3px;
	box-shadow: -1px 4px 39px #888888;
}

.text-center
{
	text-align: center;
}

.blue-google
{
	background: #2196F3;
	border-color: #2196F3;
}

/* NAVBAR */
.navbar {
	border-radius: 0px;
	box-shadow: 10px -1px 141px #888888;
}
.navbar-inverse {
	color: white;
	background: #2196F3;
	background-color: #2196F3;
	border-color: #2196F3;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: white;
	background: #2196F3;
	background-color: #2196F3;
	border-color: #2196F3;
}

.navbar-inverse .navbar-toggle {
	border-color: #2196F3;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #2196F3;
}

.navbar-inverse .navbar-brand {
	color: white;
	font-size: 1.2em;
	font-weight: bold;

}

.navbar-inverse .navbar-toggle:hover {
	background-color: #2196F3;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: white;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #2196F3;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: white;
	white-space: nowrap;
}

.dropdown-menu>li>a:hover {
	background: #ccc;
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: white;
	white-space: nowrap;
}

/* /NAVBAR*/

.entrada {
	background: #4CAF50;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.salida {
	background: #FF5722;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.table-design
{
	background: white;
	color: black;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.form-search input
{
	border-radius: 3px 3px 0 0;
}

.table-head
{
	background: #B0BEC5;
	color: white;
}

.center-image
{
	text-align: center;
	margin: 0 auto;
}

.green-google
{
	background: #4CAF50;
}

.red-google, .red-google:hover
{
	background: #B71C1C;
	border-color: #B71C1C;
}

.panel-primary>.panel-heading {
	font-weight: bold;
	color: white;
	background: #039BE5;
	background-color: #039BE5;
	border-color: #039BE5;
}

.mensual
{
	display: none; /* NO MOSTRAR */
}