body
{
	font-family: 'Roboto', sans-serif;
}
.header-login
{
	background: grey;
	height: 150px;
	width: 100%;
}

.footer-login
{
	background: grey;
	height: 150px;
	width: 100%;
}

.color-bar
{
	background-color: #03a9f4;
}

.entrada
{
	border: 9px solid green;
	width: 21px;
}

.salida
{
	border: 9px solid #FE580F;
	width: 21px;
}